@import 'globals';

#work {
  flex: 1;
  margin: $large-margin 0 0 -$large-margin;
  @include phone {
    padding: 0 $small-margin;
  }
}

.work-item {
  height: 400px;
  margin-bottom: $large-margin * 2;
  &:nth-child(even) {
    padding-left: $large-margin / 2;
    margin-right: 0;
  }
  &:nth-child(odd) {
    padding-right: $large-margin / 2;
  }
  &:not(:first-child) > div {
    box-shadow: 0px 0px 8px #cccccc;
  }
  > div {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
  }
  a {
    color: $primary-pink;
    border-bottom: 2px solid $white;
    text-decoration: none;
    &:hover {
      border-bottom-color: $primary-pink;
    }
  }
  @include desktop {
    height: 300px;
  }
  @include tablet {
    height: 250px;
  }
  @include phone {
    height: auto;
    margin: 0 0 $medium-margin;
    &:nth-child(even) {
      padding-left: 0;
    }
    &:nth-child(odd) {
      padding-right: 0;
    }
  }
}

.work-image {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
  }
  img {
    display: block;
    max-width: 100%;
  }
}

.work-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: $medium-margin;
  background: $white;
  color: $black;
  font-size: 16px;
  line-height: 1.4em;
  &.expanded {
    height: auto;
    min-height: 100px;
    .expand-collapse {
      transform: rotate(180deg);
    }
  }
  > div {
    height: 100%;
    overflow: hidden;
  }
  p {
    margin: 0;
  }
  a {
    float: right;
  }
  .expand-collapse {
    $circle-diameter: 32px;
    $arrow-width: 16px;
    $arrow-height: 10px;
    position: absolute;
    top: $circle-diameter / -2;
    left: 50%;
    width: $circle-diameter;
    height: $circle-diameter;
    margin-left: $circle-diameter / -2;
    border: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #cccccc;
    cursor: pointer;
    img {
      position: absolute;
      top: ($circle-diameter - $arrow-height) / 2;
      left: ($circle-diameter - $arrow-width) / 2;
      width: $arrow-width;
      height: $arrow-height;
    }
  }
  @include tablet {
    height: 85px;
    font-size: 14px;
    line-height: 1.3em;
    &.expanded {
      height: auto;
    }
  }
  @include phone {
    position: relative;
    height: auto;
    font-size: 16px;
    line-height: 1.5em;
    .expand-collapse {
      display: none;
    }
  }
}

.teal-filter:before {
  background: $secondary-teal;
}

.turquoise-filter:before {
  background: $secondary-turquoise;
}

.pink-filter:before {
  background: $secondary-pink;
}

.work-info {
  padding: 0 ($large-margin * 2);
  font-size: 32px;
  line-height: 1.5em;
  p {
    margin: 0;
  }
  @include desktop {
    font-size: 24px;
  }
  @include tablet {
    padding-left: 32px;
    padding-right: 32px;
    font-size: 20px;
  }
  @include phone {
    padding: 0 32px 32px;
    text-align: center;
  }
}

.work-netsocket {
  .work-image {
    margin-top: 85px;
    @include desktop {
      margin-top: 52px;
    }
    @include tablet {
      margin-top: 42px;
    }
    @include phone {
      margin: $large-margin 0;
    }
  }
  .expand-collapse {
    display: none;
    @include desktop {
      display: block;
    }
  }
}
